html body main div{height: 100%;
    
}




.container{
    margin: 25px;
    width: 350px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    outline: dashed 1px black;
    display: flex;
    justify-content: space-around;
    align-content: stretch;
    align-items: center;
  }