html, body, main {
  height: 100%;
}

 body{background-image:url('sno.gif');


  }*/

.container {

  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-around;
  align-content: stretch;
  align-items: center;
 height: 100%;
    display: flex;
    position: relative;
}
